@import "variables";
@import "mixins";

.form {
  position: absolute;
  z-index: 2;
  bottom: -55px;
  width: 238px;
  background-color: $white;
  border: 1px solid $black;
  box-shadow: $shadow;
  .colors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
    .color {
      position: relative;
      display: flex;
      align-items: center;
      // Style for white color border
      .input.default {
        border: 2px solid $grey;
      }
      // Style for selected color
      .input.selected {
        border: 2px solid $violet;
      }
      .checked {
        position: absolute;
        z-index: 999;
        top: -2px;
        right: -6px;
      }
    }
  }
  .submit {
    @include visuallyHidden;
  }
}
