@import "variables";

.task {
  cursor: pointer;
  position: relative;
  display: flex;
  gap: 0.5rem;
  .checkbox {
    width: 13px;
    height: 13px;
    margin-top: 5px;
    z-index: 1;
    &:hover {
      border: 2px solid $grey;
    }
  }
  .check {
    position: absolute;
    top: 5px;
    left: -1px;
    z-index: 0;
  }
  .label {
    cursor: pointer;
    flex-grow: 1;
    max-width: calc(100% - (13px + 0.5rem));
    overflow: hidden;
    white-space: wrap;
    text-decoration: line-through;
    color: $grey;
  }
}
