@import "variables";
@import "mixins";

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .title {
    font-size: 1.1rem;
    font-weight: 600;
    border-bottom: 1px solid $black;
    .label {
      @include visuallyHidden;
    }
    .input {
      width: 100%;
      height: 100%;
      padding: 0.8rem;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }

  .tasks {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding-left: 1.6rem;
    border-bottom: 1px solid $black;
    height: 100%;
    .input {
      width: 100%;
      height: 100%;
      padding: 0.8rem 0;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.8rem 0.8rem 3rem 1.8rem;
    .elem {
      position: relative;
      display: flex;
      align-items: center;
      gap: 0.6rem;
      .text {
        outline: none;
        width: 100%;
      }
      &:hover {
        .close,
        .grip {
          opacity: 1;
        }
      }
    }
    .close {
      opacity: 0;
      padding: 0.5rem;
      border: 1px solid transparent;
      border-radius: 50%;
      transition: background-color 0.3s ease-in-out;
      &:hover {
        background-color: $greylight;
      }
    }
    .grip {
      position: absolute;
      left: -20px;
      opacity: 0;
    }
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1.5rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    background-color: $violet;
    font-weight: 500;
    border: 1px solid $black;
    box-shadow: $shadow;
    transition: all 0.3s ease-in-out;
  }
  .button:hover {
    box-shadow: 2px 2px 0px black;
    transform: translateX(2px) translateY(2px);
  }
}

.submit {
  @include visuallyHidden;
}
