// COLORS
$background: #f9f5f2;
$violet: #c4a1ff;
$green: #d0ee30;
$black: black;
$white: #ffffff;
$grey: #5f6368;
$greylight: #edf0f1;

// SHADOW BUTTONS
$shadow: 5px 5px 0px black;

// HOVER ICON BUTTONS
$iconHover: rgba(127, 133, 139, 0.2);
