@import "reset";
@import "variables";

body {
  background-color: $background;
  color: $black;
}

//***App Container***
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

// ***Main***
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1400px;
  width: 90%;
  height: 100%;
  flex-grow: 1;
}
