@import "variables";

// List Container
.container {
  position: relative;
  display: flex;
  justify-content: center;
  &:hover {
    .icons {
      opacity: 1;
    }
    .card {
      .grab {
        opacity: 1;
      }
    }

    &.dragging {
      .icons {
        transition: none;
        opacity: 0;
      }
      z-index: 999999999;
    }
  }

  // --- List Card ---
  .card {
    position: relative;
    width: 238px;
    background-color: $white;
    border: 1px solid $black;
    box-shadow: $shadow;
    padding-bottom: 5rem;
    transition: box-shadow 0.3s ease-in-out;
    &.dragging {
      .grab {
        opacity: 0;
      }
      &:active {
        box-shadow: 6px 6px 6px $black;
      }
    }

    // Grab Button Section
    .grab {
      position: absolute;
      right: 5px;
      top: 14px;
      border: none;
      opacity: 0;
      cursor: grab;
      transition: opacity 0.3s ease-in-out;
      &:active {
        opacity: 1;
      }
    }

    // Title Section
    .title {
      border-bottom: 1px solid $black;
      padding: 0.8rem;
      font-size: 1.1rem;
      font-weight: 600;
    }

    // InProgress & Completed Section
    .inprogress,
    .completed {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 0.8rem;
    }
    .description {
      padding: 0.8rem 0.8rem 0 0.8rem;
      border-top: 1px solid $black;
      color: $grey;
    }
    .reset {
      border-top: none;
    }
  }

  // --- Hover Icons ---
  .icons {
    position: absolute;
    z-index: 2;
    opacity: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    bottom: 0.6rem;
    gap: 1rem;
    color: $black;
    transition: all 0.3s ease-in-out;
    .icon {
      padding: 0.5rem;
      border: 1px solid transparent;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: $iconHover;
      }
    }
    .icon.palette {
      position: relative;
    }
  }
  .icons.selected {
    opacity: 1;
    .icon {
      &:hover {
        background-color: $iconHover;
      }
    }
    .icon.palette {
      background-color: $violet;
    }
  }
}
