.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  margin-bottom: 5rem;

  .lists {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: flex-start;
    row-gap: 5rem;
  }

  .nolist {
    margin: auto;
  }
}

// Responsive screen < 1499px
@media (max-width: 1499px) {
  .container {
    .lists {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
// Responsive screen < 1199px
@media (max-width: 1199px) {
  .container {
    .lists {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

// Responsive screen < 899px
@media (max-width: 899px) {
  .container {
    .lists {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

// Responsive screen < 599px
@media (max-width: 599px) {
  .container {
    .lists {
      grid-template-columns: 1fr;
    }
  }
}
