@import "variables";

.task {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  .checkbox {
    margin-top: 5px;
  }
  .checkbox:checked {
    accent-color: $grey;
  }
  .label {
    text-decoration: line-through;
    color: $grey;
  }
}
